@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	color: white;
	font-family: Poppins;
}

body {
	background-color: #1e2126;
}

/*home*/

.main-box {
	width: 100%;
	margin-top: 100px;
}

.title-box {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.title {
	margin-bottom: 1rem;
}

.user-box {
	width: 100%;
	display: inline-flex;
	justify-content: center;
	margin-bottom: 1rem;
	/*background-color: blue;*/
}

#userField {
	color: black;
	margin-left: 1rem;
}

.time-control-box {
	width: 100%;
	display: flex;
	justify-content: center;
}

.time-sub-box {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.control-tag {
	margin-right: 5px;
}

.number-box {
	display: flex;
	justify-content: center;
	/*background-color: green;*/
	margin-bottom: 1rem;
}

#gamesSlider {
	margin-left: 1rem;
	margin-right: 1rem;
}

.run-box {
	display: flex;
	align-content: center;
	justify-content: center;
}

#runButton {
	width: 75px;
	background-color: #005CC8;
	border: none;
	font-size: 18px;
	margin-top: 1rem;
	text-decoration: none;
	text-align: center;
}

#runButton:hover {
	background-color: #1459AA;
}

#runButton:active {
	background-color: #005CC8;
}

.bottom-box {
	width: 100%;
}

.piece-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	font-size: 45px;
}

.loader-box {
	display: flex;
	justify-content: center;
}

.loader {
	display: none;
	border: 6px solid #f3f3f3;
	border-top: 6px solid #3498db;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
	margin-top: 100px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ackn-home {
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 10px;
	display: inline-flex;
	margin-left: 2rem;
	margin-bottom: 1rem;
}

.ackn {
	position: relative;
	bottom: 0;
	width: 100%;
	font-size: 10px;
	display: inline-flex;
	margin-left: 2rem;
	margin-bottom: 1rem;
}

/*result*/

.result-header {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header-box {
	margin-left: 2rem;
}

.plot-box {
	margin-left: 3rem;
	margin-right: 3rem;
}

.insight-box {
	margin-left: 3rem;
	margin-bottom: 1rem;
}

.result-tag {
	color: #14ade0;
}

#userLink {
	color: #14ade0;
	text-decoration: none;
}

#userLink:hover {
	color: #1a89ad;
}

/*error*/

#controlError {
	display: flex;
	justify-content: center;
	color: red;
	font-size: 12px;
	margin-bottom: 1rem;
}

.error-box {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 100px;
}

#goBack {
	margin-left: 1rem;
}