@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	color: white;
	font-family: Poppins;
}

body {
	background-color: #1e2126;
}

.main-box {
	width: 100%;
	margin-top: 100px;
	margin-right: 50px;
/*	display: block;
	justify-content: center;
	align-items: center;*/
	/*background-color: orange;*/
}

.title-box {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.title {
	margin-bottom: 1rem;
}

.user-box {
	width: 100%;
	display: inline-flex;
	justify-content: center;
	margin-bottom: 1rem;
	/*background-color: blue;*/
}

#userField {
	color: black;
	margin-left: 1rem;
}

.time-control-box {
	width: 100%;
	display: flex;
	justify-content: center;
}

.time-sub-box {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.control-tag {
	margin-right: 5px;
}

.number-box {
	display: flex;
	justify-content: center;
	/*background-color: green;*/
	margin-bottom: 1rem;
}

#gamesSlider {
	margin-left: 1rem;
	margin-right: 1rem;
}

.run-box {
	display: flex;
	align-content: center;
	justify-content: center;
}

#runButton {
	width: 75px;
	background-color: #005CC8;
	border: none;
	font-size: 18px;
	margin-top: 1rem;
	text-decoration: none;
	text-align: center;
}

#runButton:hover {
	background-color: #1459AA;
}

#runButton:active {
	background-color: #005CC8;
}

.result-header {
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.plot-box {
	margin-left: 1rem;
	margin-right: 1rem;
}

#controlError {
	display: flex;
	justify-content: center;
	color: red;
	font-size: 12px;
	margin-bottom: 1rem;
}

.result-tag {
	color: #14ade0;
}